.CreateUtilisateur-container {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  max-inline-size: 620px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner-image {
  position: absolute;
  inset-block-start: 15px;
  inset-inline-start: 25px;
  inline-size: 150px;
  block-size: auto;
}

.CreateUtilisateur-container h2 {
  text-align: center;
  color: #92bff0;
  text-decoration: underline;
}

.CreateUtilisateur-container form {
  display: flex;
  flex-direction: column;
}

.CreateUtilisateur-container input,
.CreateUtilisateur-container select,
.CreateUtilisateur-container textarea {
  margin-block-end: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.CreateUtilisateur-container input:focus,
.CreateUtilisateur-container select:focus,
.CreateUtilisateur-container textarea:focus {
  border-color: #007bff;
  outline: none;
}

.CreateUtilisateur-container button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  inline-size: 100%;
  inline-size: 540px;
  box-sizing: border-box;
}

.CreateUtilisateur-container button:hover {
  background-color: #0056b3;
}

.CreateUtilisateur-container p {
  color: red;
  text-align: center;
  font-size: 14px;
  margin-block-start: 5px;
  margin-block-end: 0;
}

