.dashboard-avatar {
  inline-size: 80px;
  block-size: 80px;
  border-radius: 50%;
  margin-inline-end: 20px;
  margin-inline-start: 990px;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-block-end: 20px;
  text-decoration: underline;
  text-decoration-color: #333;
  text-decoration-thickness: 2px;
}
