.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 50vh;
  padding: 50px;
  background-color: #4b4848;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-inline-size: 600px;
  inline-size: 100%;
}

.login-form h2 {
  margin-block-end: 15px;
  font-size: 24px;
  color: #92bff0;
  text-decoration: underline;
  text-align: center;
}

.login-form div {
  margin-block-end: 15px;
}

.login-form label {
  display: block;
  margin-block-end: 5px;
  font-size: 14px;
  color: #555;
}

.login-form input {
  inline-size: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.login-form input[type="email"] {
  inline-size: 100%;
  padding: 12px;
}

.login-form input:focus {
  border-color: #007bff;
  outline: none;
}

.login-form button {
  inline-size: 100%;
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form p {
  margin-block-start: 5px;
  text-align: center;
  color: red;
  font-size: 14px;
}

h3 {
  color: red;
}

.intrusion-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: 20px;
  text-align: center;
}

.security-logo {
  inline-size: 250px;
  block-size: auto;
  margin-block-end: 10px;
}

.invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid green;
}

.error-message {
  color: red;
  font-size: 0.9em;
}
